--- title: English theory --- {% extends "layouts/_layout.html" %} {% block content %}
<div class="page">
    <!-- begin header -->
    <header class="header">
        <!-- begin header__top-wrap -->
        <div class="header__top-wrap">
            <!-- begin header__nav -->
            <nav class="header__nav">
                <a href="#" class="header__icon" title="Home">
                    <span class="icon-home"></span></a>
                <a href="#">about us</a>
                <a href="#">pages</a>
                <a href="#">services</a>
                <a href="#">menu</a>
                <a href="#">gallery</a>
                <a href="#">blog</a>
                <a href="#">contacts</a>
            </nav>
            <!-- end header__nav -->
        </div>
        <!-- end header__top-wrap -->
        <!-- begin header__bottom-wrap -->
        <div class="header__bottom-wrap">
            <!-- begin header__col_left -->
            <div class="header__col_left">
                <a class="header__link " href="#" title="Phone"><span class="icon-phone iact"></span>123-456-7890 </a>
                <br>
                <a class="header__link" href="#" title="Email Address">INFO@YOURSITE.COM</a>
            </div>
            <!-- end header__col_left -->
            <!-- begin header__col_center -->
            <div class="header__col_center ">
                <!-- begin logo -->
                <div class="logo" style="background-image:url(img/logo.png)">
                </div>
                <!-- end logo -->
            </div>
            <!-- end header__col_center -->
            <!-- begin header__col_right -->
            <div class="header__col_right">
                <a class="header__link" href="#"><span class="icon-shopping-cart"></span>YOUR CART:
                <br>0 ITEMS - $0.00</a>
            </div>
            <!-- end header__col_right -->
        </div>
        <!-- end header__bottom-wrap -->
    </header>
    <!-- end header -->
    <!-- begin hero -->
    <section class="hero">
        <h1 class="hero-title">A perfect blend of<br>sensational food</h1>
        <!-- begin slider -->
        <div class="slider">
            <!-- begin hero-content -->
            <div class="hero-content">
                <div class="elipse-top"></div>
            </div>
            <!-- end hero-content -->
            <!-- Full-width images with number and caption text -->
            <div class="slider__slides fade" style="background-image: url(img/s1.jpg)">
                <div class="semiopacity"></div>
            </div>
            <div class="slider__slides fade" style="background-image: url(img/books.jpg)">
                <div class="semiopacity"></div>
            </div>
            <div class="slider__slides fade" style="background-image: url(img/s4.jpg)">
                <div class="semiopacity"></div>
            </div>
            <div class="hero__btn">
                <a href="#" class="button hero-button">order service</a>
            </div>
            <!-- The slider__dots/circles -->
            <div class="slider__dots">
                <span class="slider__dot" id="slide1"></span>
                <span class="slider__dot" id="slide2"></span>
                <span class="slider__dot" id="slide3"></span>
            </div>
            <!-- Next and previous buttons -->
            <a class="slider__prev" id="arrowPrew">&#10094;</a>
            <a class="slider__next" id="arrowNext">&#10095;</a>
        </div>
        <!-- end slider -->
        <div class="elipse-bottom">
            <div class="elips-big">
                <span class="icon-chevron-down "></span>
            </div>
        </div>
    </section>
    <!-- end hero -->
    <!-- begin welcome -->
    <section class="welcome" id="welcome">
        <!-- begin title-block -->
        <div class="title-block">
            <div class="title-block__image" style="background-image: url(img/leaves.png)">
                <span class="title-block__caption">CATERING</span>
            </div>
            <h3 class="title-block__title">Welcome to the Best<br>Catering Company</h3>
        </div>
        <!-- end title-block -->
        <!-- begin container -->
        <div class="container">
            <!-- begin features -->
            <div class="features">
                <!-- begin feature -->
                <div class="feature">
                    <!-- begin feature__img -->
                    <div class="feature__img " style="background-image: url(img/ev1.jpg)">
                        <div class="feature-caption semiopacity ">
                            <span>Events</span>
                        </div>
                        <div class="elipse-bottom">
                            <div class="elips-small">
                                <span class="icon-chevron-down "></span>
                            </div>
                        </div>
                    </div>
                    <!-- end feature__img -->
                </div>
                <!-- end feature -->
                <!-- begin feature -->
                <div class="feature">
                    <!-- begin feature__img -->
                    <div class="feature__img  " style="background-image: url(img/ev2.jpg)">
                        <div class="feature-caption semiopacity ">
                            <span>Food&<br>Drinks</span>
                        </div>
                        <div class="elipse-bottom">
                            <div class="elips-small">
                                <span class="icon-chevron-down "></span>
                            </div>
                        </div>
                    </div>
                    <!-- end feature__img -->
                </div>
                <!-- end feature -->
                <!-- begin feature -->
                <div class="feature ">
                    <!-- begin feature__img -->
                    <div class="feature__img " style="background-image: url(img/ev3.jpg)">
                        <div class="feature-caption semiopacity ">
                            <span>Venues</span>
                        </div>
                        <div class="elipse-bottom">
                            <div class="elips-small">
                                <span class="icon-chevron-down"></span>
                            </div>
                        </div>
                    </div>
                    <!-- end feature__img -->
                </div>
                <!-- end feature -->
            </div>
            <!-- end features -->
            <!-- begin button-center -->
            <div class="button-center">
                <a href="#" class="button welcome-button">more about us </a>
            </div>
            <!-- end button-center -->
        </div>
        <!-- end container -->
    </section>
    <!-- end welcome -->
    <!-- begin section-about -->
    <section class="section-about" id="about" style="background-image: url(img/bgmenu.jpg);">
        <!-- begin about-banner -->
        <div class="about-banner " style="background-image: url(img/aboutbg.jpg)">
            <!-- begin semiopacity -->
            <div class="semiopacity">
                <!-- begin title -->
                <div class="title-block title-block_white">
                    <div class="title-block__image" style="background-image: url(img/white-leaves.png)">
                        <span class="title-block__caption">ABOUT US</span>
                    </div>
                    <h3 class="title-block__title">A Short Story About<br>Our Company</h3>
                </div>
                <!-- end title -->
            </div>
            <!-- end semiopacity -->
        </div>
        <!-- end about-banner -->
        <!-- begin container -->
        <div class="container">
            <!-- begin inner-block-->
            <div class="inner-block">
                <!-- begin inner-block__col -->
                <div class="inner-block__col">
                    <div class="inner-block__img " style="background-image: url(img/about-img.jpg)">
                    </div>
                </div>
                <!-- end inner-block__col -->
                <!-- begin inner-block__col -->
                <div class="inner-block__col">
                    <!-- begin inner-block__content -->
                    <div class="inner-block__content">
                        <h3 class="inner-block__title">A Perfect Blend of Sensational Food,<br>Inspiring Ideas and Professional Staff </h3>
                        <div class="inner-block__text">
                            <span class="about-caption">1997</span> -Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud
                            exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure. dolor in hendrerit in vulputate velit.
                        </div>
                        <!-- begin button-left -->
                        <div class="button-left">
                            <a href="#" class="button about-button">READ FULL STORY </a>
                        </div>
                        <!-- end button-left -->
                    </div>
                    <!-- end inner-block__content -->
                </div>
                <!-- end inner-block__col -->
                </inner-block>
                <!-- end inner-block -->
            </div>
            <!-- end container -->
    </section>
    <!-- end section-about -->
    <!-- begin section-menu -->
    <div class="section-menu " style="background-image: url(img/bgmenu.jpg)">
        <!-- begin section-menu-content -->
        <div class="section-menu-content">
            <!-- begin title -->
            <div class="title">
                <div class="title__image " style="background-image: url(img/leaves.png)"><span class="caption-section">CATERING</span>
                </div>
                <h3 class="title-section">Our Menu</h3>
            </div>
            <!-- end title -->
            <!-- begin container -->
            <div class="container">
                <!-- begin menu -->
                <div class="menu">
                    <!-- begin clearfix -->
                    <div class="clearfix">
                        <!-- begin menu-col -->
                        <div class="menu-col">
                            <!-- begin menu-content -->
                            <div class="menu-content">
                                <!-- begin image-block -->
                                <div class="image-block">
                                    <div class="menu-img " style="background-image: url(img/menu1.jpg)">
                                    </div>
                                </div>
                                <!-- end image-block -->
                                <p class="menu-caption">CANAPES</p>
                                <div class="elipse-bottom">
                                    <div class="figure4">
                                        <span class="icon-chevron-down elipse-bottom__chevron"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- end menu-content -->
                        </div>
                        <!-- end menu-col -->
                        <div class="menu-col">
                            <!-- begin menu-content -->
                            <div class="menu-content">
                                <!-- begin image-block -->
                                <div class="image-block">
                                    <div class="menu-img " style="background-image: url(img/menu2.jpg)">
                                    </div>
                                </div>
                                <!-- end image-block -->
                                <p class="menu-caption">SMALL PLATES</p>
                                <div class="elipse-bottom">
                                    <div class="figure4">
                                        <span class="icon-chevron-down elipse-bottom__chevron"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- end menu-content -->
                        </div>
                        <!-- end menu-col -->
                        <div class="menu-col">
                            <!-- begin menu-content -->
                            <div class="menu-content">
                                <!-- begin image-block -->
                                <div class="image-block">
                                    <div class="menu-img " style="background-image: url(img/menu3.jpg)">
                                    </div>
                                </div>
                                <!-- end image-block -->
                                <p class="menu-caption">SWEETS</p>
                                <div class="elipse-bottom">
                                    <div class="figure4">
                                        <span class="icon-chevron-down elipse-bottom__chevron"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- end menu-content -->
                        </div>
                        <!-- end menu-col -->
                        <div class="menu-col">
                            <!-- begin menu-content -->
                            <div class="menu-content">
                                <!-- begin image-block -->
                                <div class="image-block">
                                    <div class="menu-img " style="background-image: url(img/menu4.jpg)">
                                    </div>
                                </div>
                                <!-- end image-block -->
                                <p class="menu-caption">DRINKS</p>
                                <div class="elipse-bottom">
                                    <div class="figure4">
                                        <span class="icon-chevron-down elipse-bottom__chevron"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- end menu-content -->
                        </div>
                        <!-- end menu-col -->
                    </div>
                    <!-- end clearfix -->
                </div>
                <!-- end menu -->
            </div>
            <!-- end container -->
            <!-- begin button-center -->
            <div class="button-center">
                <p class="addition-text">& much more sensational food & drinks...</p>
                <a href="#" class="button menu-button">VIEW FULL MENU </a>
            </div>
            <!-- end button-center -->
        </div>
        <!-- end section-menu-content -->
    </div>
    <!-- end section-menu -->
    <!-- begin section-services -->
    <div class="section-services">
        <!-- begin title -->
        <div class="title">
            <div class="title__image " style="background-image: url(img/leaves.png)"><span class="caption-section">SERVICES</span>
            </div>
            <h3 class="title-section">Planning a Fabulous <br> Event?</h3>
        </div>
        <!-- end title -->
        <!-- begin container -->
        <div class="container">
            <!-- begin services -->
            <div class="services">
                <!-- begin clearfix -->
                <div class="clearfix">
                    <!-- begin services-col-left -->
                    <div class="services-col-left">
                        <!-- begin services-list -->
                        <div class="services-list">
                            <div class="clearfix">
                                <div class="list-number">01</div>
                                <div class="list-col">
                                    <h4 class="list-title">WEDDINGS</h4>
                                    <p class="list-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
                                </div>
                            </div>
                        </div>
                        <!-- end services-list -->
                        <div class="services-list">
                            <div class="clearfix">
                                <div class="list-number">02</div>
                                <div class="list-col">
                                    <h4 class="list-title">CORPORATE</h4>
                                    <p class="list-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
                                </div>
                            </div>
                        </div>
                        <!-- end services-list -->
                        <div class="services-list">
                            <div class="clearfix">
                                <div class="list-number">03</div>
                                <div class="list-col">
                                    <h4 class="list-title">SOCIALS</h4>
                                    <p class="list-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
                                </div>
                            </div>
                        </div>
                        <!-- end services-list -->
                    </div>
                    <!-- end services-col-left -->
                    <!-- begin services-col-center -->
                    <div class="services-col-center">
                        <!-- begin services-img -->
                        <div class="services-img " style="background-image: url(img/services.jpg)">
                        </div>
                        <!-- end services-img -->
                    </div>
                    <!-- end services-col-center -->
                    <!-- begin services-col-right -->
                    <div class="services-col-right">
                        <!-- end services-list -->
                        <div class="services-list">
                            <div class="clearfix">
                                <div class="list-number">04</div>
                                <div class="list-col">
                                    <h4 class="list-title">PICNICS</h4>
                                    <p class="list-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
                                </div>
                            </div>
                        </div>
                        <!-- end services-list -->
                        <!-- end services-list -->
                        <div class="services-list">
                            <div class="clearfix">
                                <div class="list-number">05</div>
                                <div class="list-col">
                                    <h4 class="list-title">FESTIVALS</h4>
                                    <p class="list-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
                                </div>
                            </div>
                        </div>
                        <!-- end services-list -->
                        <!-- end services-list -->
                        <div class="services-list">
                            <div class="clearfix">
                                <div class="list-number">06</div>
                                <div class="list-col">
                                    <h4 class="list-title">PRIVATE PATIES</h4>
                                    <p class="list-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
                                </div>
                            </div>
                        </div>
                        <!-- end services-list -->
                    </div>
                    <!-- end services-col-right -->
                </div>
                <!-- end clearfix -->
            </div>
            <!-- end services -->
        </div>
        <!-- end container -->
        <!-- begin button-center -->
        <div class="button-center">
            <a href="#" class="button services-button">MORE SERVICES</a>
        </div>
        <!-- end button-center -->
    </div>
    <!-- end section-services -->
    <!-- begin section-book -->
    <div class="section-book " style="background-image: url(img/books.jpg)">
        <!-- begin semiopacity -->
        <div class="semiopacity book-padding">
            <!-- begin title -->
            <div class="title white-title">
                <div class="title__image " style="background-image: url(img/white-leaves.png)"><span class="caption-section">book today!</span>
                </div>
                <h3 class="book-title">Book Your Tasting Session <br> or Discuss Your Project</h3>
            </div>
            <!-- end title -->
            <!-- begin button-center -->
            <div class="button-center">
                <a href="#" class="button book-button">send free request</a>
            </div>
            <!-- end button-center -->
        </div>
        <!-- end semiopacity -->
    </div>
    <!-- end section-book -->
    <!-- begin section-testimionials -->
    <div class="section-testimionials " style="background-image: url(img/bgmenu.jpg)">
        <!-- begin title -->
        <div class="title">
            <div class="title__image " style="background-image: url(img/leaves.png)"><span class="caption-section">testimionials</span>
            </div>
            <h3 class="title-section">Clients About Us</h3>
        </div>
        <!-- end title -->
        <!-- begin container -->
        <div class="container">
            <!-- begin testimonials-slider -->
            <div class="testimonials-slider">
                <!-- begin testimonials-content -->
                <div class="testimonials-content">
                    <div class="slide-background">
                        <div class="figure5">
                            <div class="testimonials-photo " style="background-image: url(img/testi.jpg)"></div>
                        </div>
                        <div class="text-block">
                            <p class="testi-text">“Having worked with a number of caterers over the about-captions, their level of service was notably high and they were integral to making the day a succes”.</p>
                        </div>
                        <div class="block-author">
                            <p class="author">laura & Adam Ashley, NY</p>
                        </div>
                        <div class="figure6"></div>
                        <div class="right-figure"></div>
                    </div>
                </div>
                <!-- end testimonials-content -->
                <!-- begin testimonials-content -->
                <div class="testimonials-content">
                    <div class="slide-background">
                        <div class="figure5">
                            <div class="testimonials-photo " style="background-image: url(img/cheh_photo.jpg)"></div>
                        </div>
                        <div class="text-block">
                            <p class="testi-text">“Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat”.</p>
                        </div>
                        <div class="block-author">
                            <p class="author">Cheh, LA</p>
                        </div>
                        <div class="figure6"></div>
                        <div class="right-figure"></div>
                    </div>
                </div>
                <!-- end testimonials-content -->
                <!-- begin testimonials-content -->
                <div class="testimonials-content">
                    <div class="slide-background">
                        <div class="figure5">
                            <div class="testimonials-photo " style="background-image: url(img/ev1.jpg)"></div>
                        </div>
                        <div class="text-block">
                            <p class="testi-text">“Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat, onsectetuer adipiscing elit, sed diam nonummy nibh”.</p>
                        </div>
                        <div class="block-author">
                            <p class="author">Adam, Chicago</p>
                        </div>
                        <div class="figure6"></div>
                        <div class="right-figure"></div>
                    </div>
                </div>
                <!-- end testimonials-content -->
            </div>
            <!-- end testimonials-slider -->
        </div>
        <!-- end container -->
    </div>
    <!-- end section-testimionials -->
    <!-- begin section-blog -->
    <div class="section-blog">
        <!-- begin title -->
        <div class="title">
            <div class="title__image " style="background-image: url(img/leaves.png)"><span class="caption-section">blog</span>
            </div>
            <h3 class="title-section">Recent Articles</h3>
        </div>
        <!-- end title -->
        <!-- begin container blog -->
        <div class="container blog">
            <!-- begin clearfix -->
            <div class="clearfix">
                <!-- begin blog-col -->
                <div class="blog-col">
                    <!-- begin blog-col-img -->
                    <div class="blog-col-img " style="background-image: url(img/g3.jpg)">
                    </div>
                    <!-- end blog-col-img -->
                    <p class="blog-date">jun 20,2016</p>
                    <h4 class="blog-title">We Can Help Find a Location That’s Right for You</h4>
                </div>
                <!-- end blog-col -->
                <div class="blog-col">
                    <!-- begin blog-col-img -->
                    <div class="blog-col-img " style="background-image: url(img/g1.jpg)">
                    </div>
                    <!-- end blog-col-img -->
                    <p class="blog-date">jun 20,2016</p>
                    <h4 class="blog-title">Catering Services for Fabulous Corporate Events</h4>
                </div>
                <!-- end blog-col -->
                <div class="blog-col">
                    <!-- begin blog-col-img -->
                    <div class="blog-col-img " style="background-image: url(img/g4.jpg)">
                    </div>
                    <!-- end blog-col-img -->
                    <p class="blog-date">jun 20,2016</p>
                    <h4 class="blog-title">Planning a Wedding Menu Can Be Daunting</h4>
                </div>
                <!-- end blog-col -->
            </div>
            <!-- end clearfix -->
        </div>
        <!-- end container blog -->
        <!-- begin button-center -->
        <div class="button-center blog-button-padding">
            <a href="#" class="button blog-button">more articles</a>
        </div>
        <!-- end button-center -->
    </div>
    <!-- end section-blog -->
    <!-- begin section-chef -->
    <div class="section-chef">
        <!-- begin chef-banner -->
        <div class="chef-banner " style="background-image: url(img/s3.jpg)">
            <!-- begin semiopacity -->
            <div class="semiopacity">
                <!-- begin chef-block -->
                <div class="chef-block">
                    <!-- begin title -->
                    <div class="title white-title">
                        <div class="title__image " style="background-image: url(img/white-leaves.png)"><span class="caption-section">Chef</span>
                        </div>
                        <h3 class="title-section">Who’s Behind Great<br>Service?</h3>
                    </div>
                    <!-- end title -->
                    <!-- begin container -->
                    <div class="container">
                        <!-- begin clearfix -->
                        <div class="clearfix">
                            <!-- begin chef-col -->
                            <div class="chef-col">
                                <div class="chef-img " style="background-image: url(img/cheh_photo.jpg)">
                                </div>
                            </div>
                            <!-- end chef-col -->
                            <!-- begin chef-col -->
                            <div class="chef-col">
                                <!-- begin chef-col-content -->
                                <div class="chef-col-content">
                                    <span class="chef-elipse-bottom__chevron">“</span>
                                    <p class="chef-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
                                        lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure. Dolor in hendrerit in vulputate velit, ullamcorper suscipit lobortis. </p>
                                    <p class="chef-sign"><span class="chef-name">Andreo Moreno, </span>Master-Chef</p>
                                    <!-- begin button-center -->
                                    <div class="button-center-chef">
                                        <a href="#" class="button chef-button">READ FULL STORY </a>
                                    </div>
                                    <!-- end button-center -->
                                </div>
                                <!-- end chef-col-content -->
                            </div>
                            <!-- end chef-col -->
                        </div>
                        <!-- end clearfix -->
                    </div>
                    <!-- end container -->
                </div>
                <!-- end chef-block -->
            </div>
            <!-- end semiopacity -->
        </div>
        <!-- end chef-banner -->
    </div>
    <!-- end section-chef -->
    <!-- begin section-staff -->
    <div class="section-staff " style="background-image: url(img/bgmenu.jpg)">
        <!-- begin title -->
        <div class="title">
            <div class="title__image " style="background-image: url(img/leaves.png)"><span class="caption-section">Staff</span>
            </div>
            <h3 class="title-section">Meet the Team</h3>
        </div>
        <!-- end title -->
        <!-- begin container -->
        <div class="container">
            <!-- begin staff -->
            <div class="staff">
                <!-- begin clearfix -->
                <div class="clearfix">
                    <!-- begin staff-col -->
                    <div class="staff-col">
                        <!-- begin staff-content -->
                        <div class="staff-content">
                            <div class="staff-img " style="background-image: url(img/st1.jpg)">
                            </div>
                            <p class="staff-name">Amanda Finch</p>
                            <p class="staff-position">Chef Co</p>
                        </div>
                        <!-- end staff-content -->
                    </div>
                    <!-- end staff-col -->
                    <div class="staff-col">
                        <!-- begin staff-content -->
                        <div class="staff-content">
                            <div class="staff-img " style="background-image: url(img/st2.jpg)">
                            </div>
                            <p class="staff-name">Joseph Verder</p>
                            <p class="staff-position">Chef</p>
                        </div>
                        <!-- end staff-content -->
                    </div>
                    <!-- end staff-col -->
                    <div class="staff-col">
                        <!-- begin staff-content -->
                        <div class="staff-content">
                            <div class="staff-img " style="background-image: url(img/st3.jpg)">
                            </div>
                            <p class="staff-name">Anthony Mann</p>
                            <p class="staff-position">Waiter</p>
                        </div>
                        <!-- end staff-content -->
                    </div>
                    <!-- end staff-col -->
                    <div class="staff-col">
                        <!-- begin staff-content -->
                        <div class="staff-content">
                            <div class="staff-img " style="background-image: url(img/st4.jpg)">
                            </div>
                            <p class="staff-name">Julia Green</p>
                            <p class="staff-position">Waitress</p>
                        </div>
                        <!-- end staff-content -->
                    </div>
                    <!-- end staff-col -->
                </div>
                <!-- end clearfix -->
            </div>
            <!-- end staff -->
        </div>
        <!-- end container -->
    </div>
    <!-- end section-staff -->
    <!-- begin section-gallery -->
    <div class="section-gallery">
        <!-- begin title -->
        <div class="title">
            <div class="title__image " style="background-image: url(img/leaves.png)"><span class="caption-section">gallery</span>
            </div>
            <h3 class="title-section">Check Our Recent<br>Projects</h3>
        </div>
        <!-- end title -->
        <!-- begin gallery-container -->
        <div class="gallery-container">
            <!-- begin gallery -->
            <div class="gallery">
                <!-- begin clearfix -->
                <div class="clearfix">
                    <!-- begin gallery-col -->
                    <div class="gallery-col">
                        <div class="gallery-img " style="background-image: url(img/g1.jpg)">
                        </div>
                        <div class="gallery-img " style="background-image: url(img/g3.jpg)">
                        </div>
                    </div>
                    <!-- end gallery-col -->
                    <!-- begin gallery-col -->
                    <div class="gallery-col">
                        <div class="gallery-img " style="background-image: url(img/g2.jpg)">
                        </div>
                        <div class="gallery-img " style="background-image: url(img/g4.jpg)">
                        </div>
                    </div>
                    <!-- end gallery-col -->
                    <!-- begin gallery-col -->
                    <div class="gallery-col">
                        <div class="gallery-img-full " style="background-image: url(img/g5.jpg)">
                        </div>
                    </div>
                    <!-- end gallery-col -->
                </div>
                <!-- end clearfix -->
            </div>
            <!-- end gallery -->
        </div>
        <!-- end gallery-container -->
        <!-- begin button-center -->
        <div class="button-center gallery-button-padding">
            <a href="#" class="button gallery-button">view more projects</a>
        </div>
        <!-- end button-center -->
    </div>
    <!-- end section-gallery -->
    <!-- begin section-contact -->
    <div class="section-contact " style="background-image: url(img/bgmenu.jpg)">
        <!-- begin title -->
        <div class="title">
            <div class="title__image " style="background-image: url(img/leaves.png)"><span class="caption-section">contact us</span>
            </div>
            <h3 class="title-section">Leave a Feadback or<br> Ask a Question</h3>
        </div>
        <!-- end title -->
        <!-- begin container -->
        <div class="container">
            <!-- begin contact -->
            <div class="contact">
                <!-- begin clearfix -->
                <div class="clearfix">
                    <form class="form-style">
                        <input type="text" required class="form-control input-left" placeholder="Name">
                        <input type="email" required class="form-control input-right" placeholder="Email Address">
                        <textarea required class="form-control2" rows="8" placeholder=""></textarea>
                        <button type="submit" class="button form-button">SEND MESSAGE</button>
                    </form>
                </div>
                <!-- end clearfix -->
            </div>
            <!-- end contact -->
        </div>
        <!-- end container -->
        <div class="elipse-bottom">
            <div class="elips-big">
                <a href="#home"><span class="icon-chevron-down elipse-bottom__chevron elipse-bottom__chevron-up"></span></a>
                <span class="elipse-bottom__chevron-text">TOP</span>
            </div>
        </div>
    </div>
    <!-- end section-contact -->
    <!-- begin footer -->
    <footer class="footer">
        <!-- begin container -->
        <div class="container">
            <!-- begin footer-wrap -->
            <div class="footer-wrap">
                <!-- begin clearfix -->
                <div class="clearfix">
                    <!-- begin footer-col -->
                    <div class="footer-col footer-col-left">
                        <p class="footer-text">
                            123-456-7890
                            <br> INFO@YOURSITE.COM
                        </p>
                    </div>
                    <!-- end footer-col -->
                    <!-- begin footer-col -->
                    <div class="footer-col footer-col-center">
                        <div class="logo" style="background-image:url(img/logo.png)">
                        </div>
                    </div>
                    <!-- end footer-col -->
                    <!-- begin footer-col -->
                    <div class="footer-col footer-col-right">
                        <p class="footer-text">
                            123, New Lenox <br> Chicago, IL 60606
                        </p>
                    </div>
                    <!-- end footer-col -->
                </div>
                <!-- end clearfix -->
                <!-- begin social-block -->
                <div class="social-block">
                    <a href="#" class="social">
                        <span class="icon-twitter"></span>
                    </a>
                    <a href="#" class="social">
                        <span class="icon-facebook"></span>
                    </a>
                    <a href="#" class="social">
                        <span class="icon-tumblr"></span>
                    </a>
                    <a href="#" class="social">
                        <span class="icon-instagram"></span>
                    </a>
                </div>
                <!-- end social-block -->
            </div>
            <p class="footer-copy">Ancora © 2016 All Rights Reserved <a class="copy-link" href="#">Terms of Use </a>and <a href="#" class="copy-link">Privacy Policy</a></p>
            <!-- end footer-wrap -->
        </div>
        <!-- end container -->
    </footer>
    <!-- end footer -->
    </div>
    {% endblock %}